/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
  padding: 0px;
  margin: 0px;
}

body {
  padding: 30px;
  font-family: lato;
}

.header {
  border: 1px solid red;
  height: 95vh;
  background-image: linear-gradient(
      to right,
      rgba(126, 213, 111, 0.3),
      rgba(85, 197, 122, 0.3),
      rgba(40, 180, 133, 0.3)
    ),
    url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0px 0px, 100% 0px, 100% 65%, 0px 100%);
}
